<md-tabs md-dynamic-height="" md-border-bottom="">

  <md-tab label="Idea">
    <md-content class="md-padding">
      <form name="myForm">

      <md-input-container class="md-block">
        <label>Título de la idea</label>
        <input id="tituloIdea" name="tituloIdea" ng-model="tituloIdea" ng-required="true">
        <div ng-messages="myForm.tituloIdea.$error">
          <div ng-message="required">Campo obligatorio</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Descripción de la idea</label>
        <textarea ng-model="descripcionIdea" name="descripcionIdea" md-maxlength="150" rows="5" ng-required="true"></textarea>
        <div ng-messages="myForm.descripcionIdea.$error">
          <div ng-message="required">Campo obligatorio</div>
        </div>
      </md-input-container>

      <md-chips ng-model="autores" readonly="false" md-removable="true"
        placeholder="Autores de la idea" delete-button-label="Eliminar" delete-hint="Pulsa icono X para borrar"
        secondary-placeholder="+Autor"></md-chips>

      <md-input-container class="md-block">
        <label>Origen de la idea</label>
        <md-select ng-model="origenIdea">
          <md-option value=""></md-option>
          <md-option value="Idea">Idea</md-option>
          <md-option value="Encargo Comité I+D+i">Encargo comité I+D+i</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Área negocio de aplicación</label>
        <md-select ng-model="areaNegocio">
          <md-option value=""></md-option>
          <md-option value="100 - Construcción y Conservación">100 - Construcción y Conservación</md-option>
          <md-option value="200 - RLJ">200 - RLJ</md-option>
          <md-option value="300 - Servicios Hospitalarios">300 - Servicios Hospitalarios</md-option>
          <md-option value="400 - RI">400 - RI</md-option>
          <md-option value="500 - Aguas">500 - Aguas</md-option>
          <md-option value="600 - Tratamiento RSU">600 - Tratamiento RSU</md-option>
          <md-option value="900 - RCD">900 - RCD</md-option>
        </md-select>
      </md-input-container>

      <div layout="row" flex>

        <div layout="row" flex="75">
          <input id="fileInput" type="file" class="ng-hide">
          <md-input-container flex class="md-icon-float md-block" md-no-float>
            <input ng-click="open()" ng-model="fileName" type="text" placeholder="Ningún archivo seleccionado" ng-readonly="true">
          </md-input-container>

          <div>
            <md-button ng-click="open()" class="md-raised md-primary">
              Examinar
            </md-button>
          </div>
        </div>

        <div layout="row" flex="25">
          <md-input-container class="md-block">
            <label>Fecha</label>
            <md-datepicker ng-model="fecha" md-open-on-focus=""></md-datepicker>
          </md-input-container>
        </div>

      </div>

      </form>

      <md-button ng-click="nuevaIdea()" class="md-raised md-primary">
        Guardar
        <md-icon>save</md-icon>
      </md-button>

    </md-content>
  </md-tab>

  <md-tab label="Proyecto">
    <md-content class="md-padding">


    </md-content>
  </md-tab>

</md-tabs>
