<md-tabs md-dynamic-height="" md-border-bottom="">

  <md-tab label="Pendientes">
    <md-content class="md-padding">
      <h1 class="md-display-2"></h1>

      <md-list flex="">
        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>
      </md-list>

    </md-content>
  </md-tab>

  <md-tab label="En curso">
    <md-content class="md-padding">
      <h1 class="md-display-2"></h1>

      <md-list flex="">
        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>
      </md-list>

    </md-content>
  </md-tab>

  <md-tab label="Finalizadas">
    <md-content class="md-padding">
      <h1 class="md-display-2"></h1>

      <md-list flex="">
        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>

        <md-list-item class="md-3-line" ng-click="null">
          Cosa
        </md-list-item>
      </md-list>

    </md-content>
  </md-tab>

</md-tabs>
